# Ignore .env
.env
.venv
.myenv
venv
myenv

# Ignore logs
.log

# Ignore secrets
config/secrets.json

# Ignore unnecessary files
__pycache__

#Ignore others
crypto_data_intraday*.csv
crypto_data_daily*.csv