# .github/workflows/terraform.yml

name: 'Terraform Infrastructure'

on:
  push:
    branches:
      - main
      - version-0
    paths:
      - 'terraform/**' # Trigger only on changes within the 'terraform' directory

jobs:
  terraform:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: your-aws-region

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3 # HashiCorp's official action

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform # Assuming your .tf files are here

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Plan
        run: terraform plan -no-color
        working-directory: ./terraform

      - name: Terraform Apply
        # Run apply only on 'main' branch or with a manual review step
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
        working-directory: ./terraform